{% extends 'manager/dashboard.html' %}
{% load static %}
{% block content %}
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-6 justify-content-center" style="margin-top: 190px">
                <div class="card" id="card">
                    <div class="card-header">
                        <p class="card-title" id="headerfill"
                           style="color: rgb(35, 158, 152); text-align: center;font-size: 0.5in; font-family: Bahnschrift;">
                            CREATE ROOM
                        </p>
                    </div>
                    <form action="{% url 'create_room' %}" method="post">
                        {% csrf_token %}
                        {% if message %}
                            <p class="alert alert-danger">{{ message }}</p>
                        {% endif %}
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="type_of_room" class="class form-check-label" ID="registerfill">Room
                                        Type</label>
                                    <select name="type_of_room" class="col-md-12" for="type_of_room" id="type_of_room">Choose
                                        room type:
                                        <option value="Basic">Basic</option>
                                        <option value="Deluxe">Deluxe</option>
                                        <option value="Mega-Deluxe">Mega-Deluxe</option>
                                        <option value="Presidential">Presidential</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="number_of_rooms" class="class form-check-label" ID="registerfill">Number
                                        Of Rooms
                                    </label>
                                    <input type="number" name="number_of_rooms">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-dark col-md-12">GET LOAN
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
