{% extends 'base.html' %}
{% block content %}
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-8 justify-content-center" style="margin-top: 10%">
                <div class="card" id="card">
                    <div class="card-header">
                        <p class="card-title" id="headerfill"
                           style="color: rgb(35, 158, 152); text-align: center;font-size: 0.5in; font-family: Bahnschrift;">
                            LIST OF CUSTOMERS
                        </p>
                    </div>
                    <table class="table table-hover table-responsive card-body">
                        <thead>
                        <tr>
                            <th id="registerfill">First name</th>
                            <th id="registerfill">Last name</th>
                            <th id="registerfill">Username</th>
                            <th id="registerfill">Phone Number</th>
                            <th id="registerfill">Options</th>
                        </tr>
                        </thead>
                        {% for customer in customers %}
                            <tbody>
                            <tr>
                                <td id="registerfill">{{ customer.first_name }}</td>
                                <td id="registerfill">{{ customer.last_name }}</td>
                                <td id="registerfill">{{ customer.email }}</td>
                                <td id="registerfill">{{ customer.phone_number }}</td>
                                <td><a href="{% url 'get_customer_details' %}"
                                       class="btn btn-success">Customer Details</a></td>
                            </tr>
                            </tbody>
                            <div class="btn-group">

                            </div>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
