{% extends 'customer/dashboard.html' %}
{% block content %}
    {% if patient %}
        <div class="container">
            <div class="row mt_130 mx-auto">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Customer
                                details: {{ customer.last_name }} {{ customer.first_name }}</h3>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="first_name" class="form-check-label">First Name:</label>
                                        <label class="form-control disabled" type="text"
                                               id="first_name">{{ customer.first_name }}</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="last_name" class="form-check-label">Last Name:</label>
                                        <label class="form-control disabled" type="text"
                                               id="last_name">{{ customer.last_name }}</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="last_name" class="form-check-label">Last Name:</label>
                                        <label class="form-control disabled" type="text"
                                               id="last_name">{{ customer.email}}</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="last_name" class="form-check-label">Last Name:</label>
                                        <label class="form-control disabled" type="text"
                                               id="last_name">{{ customer.phone_number }}</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="last_name" class="form-check-label">Last Name:</label>
                                        <label class="form-control disabled" type="text"
                                               id="last_name">{{ customer.address }}</label>
                                    </div>

                                </div>

{#                                <div class="card-footer">#}
{#                                    <a href="{% url 'list_patients' %}" class="btn btn-success">Back</a>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center text-into mt_130"> Patient details dose not exit</p>
    {% endif %}
{% endblock %}